@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,300);
* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -mos-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Dosis', sans-serif; }

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #E0E0E0;
  z-index: 100;
  padding: 10px; }

.logo {
  text-align: center;
  font-family: 'Permanent Marker', cursive; }

.logo p {
  margin-top: -10px; }

.logo a {
  color: #FF5751;
  text-decoration: none; }

.logo span {
  font-family: 'Dosis', sans-serif; }

.hide {
  display: none; }

.show {
  display: inline; }

.menu-holder {
  display: inline;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 20px; }

.banner {
  padding: 100px 200px;
  background: white;
  height: 300px; }

.glyphicon-search {
  font-size: 25px; }

.search {
  background: none;
  margin-top: 8px;
  float: right;
  border: none; }

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px; }

ul {
  background: #C8C8C8;
  width: 150px;
  padding: 20px 15px;
  height: 100vh;
  list-style-type: none;
  z-index: 100; }
  ul li {
    margin-top: 10px; }
    ul li h3 {
      margin: 20px 0px; }

.menu {
  position: absolute;
  left: -300px;
  top: 68px;
  z-index: 10;
  width: 0px;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.line {
  background: grey;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

#toggle:checked ~ .menu-holder .line:nth-child(1) {
  margin-top: 13px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

#toggle:checked ~ .menu-holder .line:nth-child(2) {
  display: none; }

#toggle:checked ~ .menu-holder .line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -3px; }

#toggle ~ .menu {
  z-index: 100; }

#toggle:checked ~ .menu {
  background: #B8B8B8;
  left: 0px;
  transform: translateX(-100%);
  z-index: 100;
  position: fixed; }

.col-md-6, .col-md-3 {
  overflow: hidden;
  height: 300px; }
  .col-md-6 footer, .col-md-3 footer {
    position: relative;
    bottom: 0;
    left: 0; }

img {
  width: 100%; }

.read-btn {
  padding: 8px;
  background: none;
  border: 2px solid grey;
  color: grey;
  text-align: center;
  float: right; }

div[class*=' number'], div[class^='number'] {
  display: block;
  position: relative;
  z-index: 2; }

.mark2 {
  border-bottom: 2px solid #ccc;
  padding: 50px 0px; }

.category {
  width: 130px;
  margin: 0;
  text-align: center;
  padding: 10px 10px;
  color: white;
  border-radius: 0px 20px 20px 0px;
  float: left; }

.JavaScript {
  background: #EFB349; }

.PHP {
  background: #56CF5E; }

.CSS {
  background: #CF7BC9; }

.HTML {
  background: #CF433D; }

.News {
  background: #6F82CF; }

.row h2 {
  color: grey;
  font-size: 22px;
  font-weight: 300; }

.blur {
  filter: blur(20px); }
