@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,300);
* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -mos-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4 {
  color: #3f3b3c;
  margin-bottom: 15px; }

h2 {
  font-size: 2.75em; }

p {
  margin: 0 0 15px; }

body {
  font-family: 'Dosis', sans-serif; }

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #E0E0E0;
  z-index: 100; }

.logo {
  margin-top: -10px;
  text-align: center;
  font-family: 'Permanent Marker', cursive; }

.logo p {
  margin-top: -10px; }

.logo a {
  color: #FF5751;
  text-decoration: none; }

.logo span {
  font-family: 'Dosis', sans-serif; }

.hide {
  display: none; }

.show {
  display: inline; }

.menu-holder {
  display: inline;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 25px;
  z-index: 1000; }

.banner {
  padding: 8% 10%;
  background: white;
  height: 300px; }

.glyphicon-search {
  font-size: 25px; }

.search {
  padding: 25px; }
  .search #search-btn {
    background: none;
    float: right;
    border: none; }
  .search #search-btn:focus {
    outline: none; }
  .search input[type=text]:focus {
    outline: none; }
  .search input[type=text] {
    float: right;
    height: 30px;
    padding-left: 10px; }

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px; }

ul {
  background: #C8C8C8;
  width: 150px;
  padding: 60px 20px;
  height: 100vh;
  list-style-type: none;
  z-index: 100; }
  ul li {
    margin-top: 10px; }
    ul li h3 {
      margin: 20px 0px; }

.menu {
  position: absolute;
  left: -300px;
  top: 0px;
  z-index: 10;
  width: 0px;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.line {
  background: grey;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

#toggle:checked ~ .menu-holder .line:nth-child(1) {
  margin-top: 13px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

#toggle:checked ~ .menu-holder .line:nth-child(2) {
  display: none; }

#toggle:checked ~ .menu-holder .line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -3px; }

#toggle ~ .menu {
  z-index: 100; }

#toggle:checked ~ .menu {
  background: #B8B8B8;
  left: 0px;
  transform: translateX(-100%);
  z-index: 100;
  position: fixed; }

.card {
  overflow: hidden;
  height: 250px;
  margin-top: 30px; }
  .card footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 20px; }

img {
  width: 100%; }

.read-btn {
  padding: 8px;
  background: none;
  border: 2px solid grey;
  color: grey;
  text-align: center;
  float: right; }

div[class*=' number'], div[class^='number'] {
  display: block;
  position: relative;
  z-index: 2; }

.mark2 {
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 10px 0px 40px; }
  .mark2 .articles {
    color: #FF5751;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px; }

.category {
  width: 130px;
  margin: 0;
  text-align: center;
  padding: 10px 10px;
  color: white;
  border-radius: 0px 20px 20px 0px;
  float: left; }

.JavaScript {
  background: #EFB349; }

.PHP {
  background: #56CF5E; }

.CSS {
  background: #CF7BC9; }

.HTML {
  background: #CF433D; }

.News {
  background: #6F82CF; }

.row h2 {
  color: grey;
  font-size: 22px;
  font-weight: 300; }

.aboutPage {
  background-color: #3f3b3c;
  padding: 1em 0em; }
  .aboutPage h2 {
    font-size: 2.25em;
    color: white; }
  .aboutPage h4 {
    color: white; }
  .aboutPage p {
    color: white; }

.admin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  z-index: 1000;
  background: #E0E0E0;
  color: white;
  overflow-y: scroll;
  opacity: 0;
  -webkit-transition: opacity 0.32666s cubic-bezier(0, 0, 0.21, 1);
  -moz-transition: opacity 0.32666s cubic-bezier(0, 0, 0.21, 1);
  -o-transition: opacity 0.32666s cubic-bezier(0, 0, 0.21, 1);
  transition: opacity 0.32666s; }

.show {
  opacity: 1; }

.admin-wrapper {
  margin: 10vw; }

.category-checkbox {
  border: 2px solid white;
  z-index: 200; }

.admin-checkbox input[type="checkbox"] {
  position: relative; }
