.admin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  z-index: 1000;
  background: #E0E0E0;
  color: white;
  overflow-y: scroll;
  opacity: 0;
  -webkit-transition: opacity 0.32666s cubic-bezier(0,0,0.21,1);
  -moz-transition: opacity 0.32666s cubic-bezier(0,0,0.21,1);
  -o-transition: opacity 0.32666s cubic-bezier(0,0,0.21,1);
  transition: opacity 0.32666s;
}
.show{
  opacity:1;
}
.admin-wrapper {
  margin: 10vw;
}
.category-checkbox {
  border: 2px solid white;
  z-index: 200;
}
.admin-checkbox input[type="checkbox"] {
  position: relative;
}
// .checkbox-category{
//   color:white;
//   width: 40px;
//   background-color: white;
// }
