.admin{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  bottom: 0;
  background-color: #E0E0E0;
  color:white;
}
.admin-wrapper{
  margin: 10vw;
}
.category-checkbox{
  border: 2px solid white;
  z-index: 200;
}
.admin-checkbox input[type="checkbox"]{
  position: relative;

}
// .checkbox-category{
//   color:white;
//   width: 40px;
//   background-color: white;
// }
