<div id="open" class="aboutPage hidden row mark2 " >
  <div class="col-md-8 col-md-offset-2">
    <h2>About Omg Src</h2>
    <p>
      This app is built by Admir, Julia, Malin and Sofie. It's a project
      they started at Nackademins Front End Developer-education. This app is still in
      it's very beginning, but we will continue to develope it as time goes!
    </p>
    <p>
      Our purpose is to create a platform that chare a collection of great articles and tutorials for
      all of you who are interested in web developement.
    </p>
    <h4>
      We love to get suggestions and feedback from you, so please send us an email
      if you want to share or ask us anything!
    </h4>
    <p>
      <em>info@omgsrc.com</em>
    </p>
  </div>
</div>
